<div class="row">
  <div class="span6">
    <p class='well'>
      Hello
    </p>
  </div>
  <div class="span6">
    <p class='well'>
      Hello
    </p>
  </div>
</div>

<div class="btn-group">

  <a class="btn" href="#">Welcome<i class="icon-align-left"></i></a>
  <a class="btn" href="#">Go to<i class="icon-align-center"></i></a>
  <a class="btn" href="#">Goodbye<i class="icon-align-right"></i></a>
</div>