<div class="row">
  <div class="span6">
    <%= image_tag ("sales-increase.png")  %>
  </div>
  <div class="span6">
    <%= image_tag ("such-a-crap.png")  %>
  </div>
</div>

<div id="example" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>This is a Modal Heading</h3>
  </div>
  <div class="modal-body">
    <h4>Welcome</h4>
    <%= image_tag("ripIE.jpg") %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success">Call to action</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<div id="example1" class="modal hide fade in" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Go to</h3>
  </div>
  <div class="modal-body">
    <h4>Text in a modal</h4>
    <p>Looking for it by yourself!!!</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success">Call to action</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

  <div class="btn-group">
<a data-toggle="modal" href="#example" class="btn btn-primary btn-large">More fun<i class="icon-align-left"></i></a>
<a data-toggle="modal" href="#example1" class="btn btn-primary btn-large">More?<i class="icon-align-center"></i></a>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="assets/twitter-bootstrap/bootstrap-modal.js"></script>