@import 'twitter-bootstrap/bootstrap.scss';
@import 'twitter-bootstrap/responsive.scss';

.icon-align-left{
  background-image: url(/assets/twitter-bootstrap/glyphicons-halflings-white.png) };
.icon-align-right{
  background-image: url(/assets/twitter-bootstrap/glyphicons-halflings-white.png) };
.icon-align-center{
  background-image: url(/assets/twitter-bootstrap/glyphicons-halflings.png) };
form {
  margin: 10px 0 20px;
}

.navbar .nav  {
  margin: 10px 10px 0 0;
}

.navbar .brand {
  margin: 10px 10px 0 0;
}

body {
  background-color: #FCDFFF;
}
