<!DOCTYPE html>
<html>
<head>
  <title>AssetPipeline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" >
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <div class= "navbar">
    <div class="navbar-inner">
      <a class="brand" href="#">My brand</a>

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">New link</a></li>
        </ul>
      </div>

      <div class="pull-right">
        <form class="form-search">
          <div class="input-append">
            <input type="text" class="span2 search-query">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>


    <%= yield %>
  </div>
</body>
</html>
